# ==============================
# Python cache
# ==============================
__pycache__/
*.pyc

# ==============================
# Virtual environments
# ==============================
venv/
.env/

# ==============================
# ML / DL artifacts (large files)
# ==============================
*.pkl

# Ignore all outputs EXCEPT needed models
Outputs/
!Outputs/alzheimer_cnn_model.h5
!Outputs/alzheimer_cnn_model.keras

# ==============================
# TensorFlow / Keras temp dirs
# ==============================
keras215/

# ==============================
# OS / Editor junk
# ==============================
.DS_Store
.vscode/
